/*body {
    margin-top: 1rem;
}*/

.filtr-item {
    /*padding: 0.2em;*/
}


/* Filter controls */

.simplefilter li {
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 2px 15px;
    -webkit-text-shadow: 1px 1px 2px #242424;
    text-shadow: 1px 1px 2px #242424;
}

.simplefilter li:hover {
    color: #373737;
}

.simplefilter li.active {
    color: #373737;
}


/*..............fin...................*/
